* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.wrapper {
  position: relative; 
}

.imgContainer {
  height: 10vh;
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin-inline: auto;
  padding: 1rem;
}

.imgContainer > img {
  height: auto;
}

.big-container {
  width: 100vw;
  height: auto;
}

.big-container > img {
  width: 100vw;
}


.selection-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem; 
  margin-right: 1rem;
  z-index: 3;
}



.slct-btn {
  background-color: rgba(58, 58, 58, 0.622); 
  color: white;
  width: 2rem;
  outline: none;
  border: 1px solid black;
  border-radius: 200px;
}